.header-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  opacity: 0.8;
  box-shadow: #cccccc 3px -7px 14px 0px;


  .header-sitelogo {
    padding: 10px 40px;
    a {
      font-family: 'Cookie', cursive;
      text-decoration: none;
      color: #000000;
      font-size: 25px;
      font-weight: 100;
    }
  }

  .header-navigation {
    padding: 10px 40px;
    ul {
      display: inline-flex;
      padding: 0;
      margin: 0;
      min-width: 200px;
      font-size: 12px;
      align-items: center;

      li {
        list-style: none;
        margin-left: 40px;


        a {
          text-decoration: none;
          color: #000000;

          border-radius: 20px;
          padding: 7px 0px;
          font-size: 12px;

          cursor: pointer;
        }
        p {
          padding: 0;
          margin: 0;
          color: #000000;
          // font-weight: 900;
          font-family: 'Cookie', cursive;
          font-size: 12px;
        }
      }
    }
  }
}

.header-user {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  .header-userImage {
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;
    .img {
      width: 30px;
      height: 30px;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
    }
  }

}

body {
  font-family: 'Spartan', sans-serif;
  padding: 0;
  margin: 0;
}



@media only screen and (max-width: 600px) {

  .header-container  {
    .header-sitelogo {
      padding: 10px;
      a {
        font-family: 'Cookie', cursive;
        text-decoration: none;
        color: #000000;
        font-size: 20px;
        font-weight: 100;
      }
    }

    .header-navigation  {
      display: none;
    }
  }

}
