.profile__wrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__wrapper-inner {
  width: 90%;

  h2 {
    color: #57606f;
  }
}

.profile__delete-btn {
  background-color:#e74c3c;
  padding: 5px 10px;
  border-radius: 2px;
  color: #ffffff;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.profile-view__no-data {
  width: 100%;
  text-align: center;
  margin-top: 100px;
}


a {
  text-decoration:none;
  color: #ffffff;
}
