.upload-container {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;

  .upload-formWrapper {
    width: 30%  ;
    margin-top: 100px;
    padding: 1px 25px;
    border-radius: 12px;
    box-shadow: #f1f2f6 1px 4px 5px 0px;

      .upload-headerArea {
        margin: 10px 0;
      }

      .upload-formItem {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px 0;

      .upload-inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      .upload-inputfile + .upload-labelFile {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: #ff793f;
        padding: 20px 60px;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
      }

      .upload-labelImage {
        background-color: #f1f2f6;
        width: 200px;
        height: 200px;

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 12px;
        font-weight: 800;

        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;

      }


      .upload-textInput {
        width: 100%;
        padding: 10px;
        border-radius: 2p;
        border: 1px solid #f1f2f6;
        border-radius: 5px;
        outline: none;
        font-size: 12px;
      }

      .upload-textArea {
        font-family: 'Spartan', sans-serif;
        width: 100%;
        padding: 10px;
        border-radius: 2p;
        border: 1px solid #f1f2f6;
        border-radius: 5px;
        outline: none;
        font-size: 12px;
        height: 150px;
        resize: none;
      }

      .upload-btnSubmit {
        background-color: #ff793f;
        padding: 10px 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
      }
    }

  }
}


.upload-loading {
  width: 9px;
  height: 9px;
  border-top: 2px solid #ffffff;
  border-bottom: 3px solid #e67e22;
  border-left: 2px solid #ff6b81;
  border-right: 3px solid #ffa502;
  border-radius: 50%;

  margin: 0px auto;

  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
