.upload-container {
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;

  .upload-formWrapper {
    width: 50% ;
    margin-top: 100px;
    padding: 1px 25px;
    border-radius: 12px;
    box-shadow: #f1f2f6 1px 4px 5px 0px;

    .upload-headerArea {
      margin: 10px 0;
    }

    .upload-formItem-subheading {
      background-color: #f6e58d;
      font-weight: 700;
      letter-spacing: 1.2px;
      padding: 0 10px;
    }

    .upload-formItem {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 20px 0;

      .upload-form_item-group {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }

      form {
        width: 100%;
      }

      .upload-helper-text {
        color: #636e72;
        font-size: 15px;
      }

      .upload-inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      .upload-inputfile + .upload-labelFile {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: #2b3b4e;
        padding: 20px 60px;
        display: inline-block;
        border-radius: 10px;
        cursor: pointer;
      }

      .upload-image-upload {
        background-color: #f1f2f6;
        width: 100px;
        height: 100px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 12px;
        font-weight: 800;

        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
      }

      .upload-image-preview {
        width: 100px;
        height: 100px;
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-size: 12px;
        font-weight: 800;

        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
      }


      .upload-textInput {
        width: 100%;
        padding: 10px;
        border-radius: 2p;
        border: 1px solid #f1f2f6;
        border-radius: 5px;
        outline: none;
        font-size: 12px;
      }

      .upload-textArea {
        font-family: "Roboto";
        width: 100%;
        padding: 10px;
        border-radius: 2p;
        border: 1px solid #f1f2f6;
        border-radius: 5px;
        outline: none;
        font-size: 12px;
        height: 150px;
        resize: none;
      }

      .upload-btnSubmit {
        margin: 2px;
        background-color: #2b3b4e;
        padding: 10px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;

        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }

      .upload-goback-button {
        margin: 2px;
        background-color: #2b3b4e;
        padding: 12px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
}

.create-view__tips {
  padding: 10px;

  h2 {
    color: #57606f;
    letter-spacing: 0.6px;
    font-size: 17px;
  }

  ul {
    margin: 0;
    padding: 0 15px;
    li {
      color: #a4b0be;
      margin:15px;
      line-height: 25px;
      letter-spacing: 0.6px;
      font-size: 15px;
    }
  }
}

.upload-form--loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;

  h2 {
    margin-bottom: 40px;
  }
}

.upload-loading {
  width: 9px;
  height: 9px;
  border-top: 2px solid #ffffff;
  border-bottom: 3px solid #e67e22;
  border-left: 2px solid #ff6b81;
  border-right: 3px solid #ffa502;
  border-radius: 50%;

  margin: 0px auto;

  -webkit-animation:spin 1s linear infinite;
  -moz-animation:spin 1s linear infinite;
  animation:spin 1s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }



@media only screen and (max-width: 600px) {

  .upload-form--loading {
    font-size: 11px;
  }


  .upload-container {
    .upload-formWrapper {
      width: 100%;

      .upload-formItem-subheading {
        font-size: 12px;
      }

      h1 {
        font-size: 18px;
      }

      .upload-formItem {
        .upload-textInput, .upload-textArea {
          font-size: 17px;
        }


      }
    }
  }
}


.inVisible {
  display: none;
}


.visible {
  position: relative;
  animation: makevisble 0.1s;
}


@keyframes makevisble {
  0% {
    // opacity: 0;
    left: -10px;
  }
  100% {
    // opacity: 1;
    left: 0;
  }
}
