.faq {

  .faq__content {
    margin-top: 100px;
    padding: 0 40px;
    margin-bottom: 200px;

    h1 {
      font-size: 40px;
    }

    h2 {}

    p {
      color: #353b48;
      letter-spacing: 1.5px;
      margin-left: 20px;
    }

    .faq__item {
      margin-bottom: 30px;
    }
  }
}
