
.footer-container {

  .footer-wrapper {
    color: #999;
    margin-bottom: 20px;
    h2 {
      color: #999;
      border-bottom: 1px solid #f1f2f6;
      padding: 15px 0;
      font-size: 12px;
      margin: 0 10px;
    }

    ul {
      list-style: none;
      margin: 5px;
      padding: 0 25px;
      li {
        margin: 5px 0;
        padding: 5px 0;
        cursor: pointer;
        font-size: 12px;

        a {
          text-decoration: none;
          color: #999;
        }
      }
    }
  }
}
