.google-container {
  background-color: #de5246;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5px;
  height: 28px;
  cursor: pointer;


  color: #ffffff;
  font-weight: 800;
}
