

.player {
  animation: fade_in_show 2s;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.player-header {
  display: flex;
  align-items: center;

  img {
    width: 30px;
    margin-right: 10px;
  }

  color: #000000;
  font-size: 11px;
}


@keyframes fade_in_show {
  0% {
       opacity: 0;
       height: 0;
  }
  100% {
       opacity: 1;
       height: 100%;
  }
}


.terms-contaienr {
  margin: 100px 0;
  padding: 20px;

  .terms-heading {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
  }

  p {
    padding: 0px 20px;
    line-height: 30px;
  }
}
